{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %} | {{ page.title }}{% endblock %}

{% block head %}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{page.description}}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block page_name %}{{ page.title }}{% endblock %}

{% block content %}
<article class="content">
  <header>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(page) }}
  </header>
  <div class="entry-content">
    {{ page.content }}
  </div>
  {% block extend_content %}{% endblock %}
</article>
{% endblock %}

