<header id="header" style="background-image: {% block BACKGROUND %}\url({{ BACKGROUND }}){% endblock %}">
    <div id="main-menu" class="menu">
        <div id="logo">
            <img src="{{ LOGO }}">
        </div>
        <input type="checkbox" id="drop"/>
        <label for="drop" class="toggle">
            <div></div>
            <div></div>
            <div></div> 
        </label>
            <ul class="menu">
                {% for title, link in MENUITEMS %}
                    <li {% if p == page %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                  {% for p in pages %}
                    <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endfor %}
                {% endif %}
                  {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                  {% endif %}
            </ul>
    </div>
    <div class="wrapper">
        <div>
            <h1>{% block page_name %}{{ SITENAME }}{% endblock %}</h1>
            <i class="arrow down"></i>
        </div>
    </div>
</header>
